<div class="row">
<% @hot_spots.all.each do |hot_spot| %>
  <div class="col-md-3" style="margin-top: 40px;">
    <h4 class="text-center"><%= link_to hot_spot.name, listings_path(hot_spot: hot_spot.name) %></h4>
    <% if admin_signed_in? %>
      <div class="row">
        <div class="col-sm-6">
          <%= link_to 'Edit', edit_hot_spot_path(hot_spot), class: "btn btn-warning form-control" %>
        </div>  
        <div class="col-sm-6">
          <%= link_to 'Delete', hot_spot, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger form-control" %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
</div>
