<div class="row">
  <div class="col-md-12">
    <h2>Map Distributions Partners</h2>
    <table class="table">
    <tbody>
      <% @distributions.each do |distribution| %>
        <tr>
          <td><%= distribution.name %></td>
          <% if admin_signed_in? %>
            <td><%= link_to 'Edit', edit_distribution_path(distribution) %></td>
            <td><%= link_to 'Delete', distribution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>    
  </div>
</div>