<div class="row">
  <div class="col-md-12">
    <h2>Cities</h2>
    <table class="table">
    <tbody>
      <% @cities.each do |city| %>
        <tr>
          <td><%= city.name %></td>
          <% if admin_signed_in? %>
            <td><%= link_to 'Edit', edit_city_path(city) %></td>
            <td><%= link_to 'Delete', city, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>    
  </div>
</div>
